@charset "utf-8";


body, header, footer, main, section, article, p, address, h1, h2, h3, h4, h5, h6, 
div, form, nav, ul, li, ol, fieldset, legend, table, tbody, th, td, dl, dt, dd, input, button  {
	margin: 0px;
	padding: 0px;
}

ol, ul {
	list-style: none;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

button, fieldset {
	border: 0px;
}

legend, caption, hr {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}